.map-canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.map-canvas :global(.mapboxgl-canvas) {
  position: absolute;
  top: 0;
  left: 0;
}

.map-canvas :global(.mapboxgl-control-container) {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
